<h1>Listing text_posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_posts.each do |text_post| %>
  <tr>
    <td><%= text_post.title %></td>
    <td><%= text_post.body %></td>
    <td><%= link_to 'Show', text_post %></td>
    <td><%= link_to 'Edit', edit_text_post_path(text_post) %></td>
    <td><%= link_to 'Destroy', text_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text post', new_text_post_path %>
